

    
.contacts header {
    color: #ffffff;
    background: #87ceeb;
    padding: 50px;

    display: flex;
    justify-content: center;
    font-size: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.profiles {
    margin-left: 100px;
}

.icons{
    display: flex;
    flex-wrap: wrap;
}

.icon{
    height: 50px;
    width: 50px;
    margin-left: 10px;
}